/Area/nbproject/private/
/Area/build/
/OnlineFood/nbproject/private/
/OnlineFood/build/
/TransportManagement/nbproject/private/
/TransportManagement/build/
/Bank/nbproject/private/
/Bank/build/
/Bank/dist/
/Employee/nbproject/private/
/Employee/build/
/SinsertDelete/nbproject/private/
/SinsertDelete/build/
/DoublyLinkedList/nbproject/private/
/DoublyLinkedList/build/
/CircularDoubly/nbproject/private/
/CircularDoubly/build/
/SuperMarketBill/nbproject/private/
/SuperMarketBill/build/
/CustomerPlaceOrder/nbproject/private/
/CustomerPlaceOrder/build/
/StringTypes/nbproject/private/
/WordCount/nbproject/private/
/WordCount/build/
/WordCount/dist/
/ReverseEachWord/nbproject/private/
/ReverseEachWord/build/
/Palindrome/nbproject/private/
/Palindrome/build/
