/Area/nbproject/private/
/Area/build/
/OnlineFood/nbproject/private/
/OnlineFood/build/
/TransportManagement/nbproject/private/
/TransportManagement/build/
/Bank/nbproject/private/
/Bank/build/
/Bank/dist/
/Employee/nbproject/private/
/Employee/build/
/SinsertDelete/nbproject/private/
/SinsertDelete/build/
/DoublyLinkedList/nbproject/private/
/DoublyLinkedList/build/
/CircularDoubly/nbproject/private/
/CircularDoubly/build/
